/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

    @font-face {
      font-family: poppins;
      src: url(../font/poppins/Poppins-Medium.ttf);
    }
    @font-face {
      font-family: poppinsb;
      src: url(../font/poppins/Poppins-Bold.ttf);
      font-weight: bold;
    }
/* Footer color for sake of consistency with Navbar */
.page-footer {
  font-family: "poppins", sans-serif;
  background-color: #4e4e4e !important;
}
 .container .policy__container{
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  color: rgba(0, 0,0,.8);
  line-height: 2;
  text-align: justify;

 }
 .navbar-nav,.navbar{
  font-family: "poppins", sans-serif;
  font-weight: 600;
 transition-duration: .3s !important;
 border-radius: 10px;

 }
 .navbar-nav .nav-item .nav-link:hover {
  background-color: rgb(85, 82, 82) !important;
 }
 .policy {
  border-radius: 10px;
 }
 .shadow {
  box-shadow:0 1px 3px rgb(206, 199, 202) !important;
 }
 .list-group-item {
  background-color: transparent;
 }
 .list-group {
  border-radius: 10px;
 }
 